@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10;
}
h1{
  text-align: center;
}


html, body, #root { height: 100%; }

.Titulo {
  font-family: 'Rye', cursive;
  color: #fafafa;
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.993);
  padding-top: 12%;
}
.categorias {
  font-family: 'Rye', cursive;
  color: #000000;
  text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.993);
}