@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}
h1{
  text-align: center;
  border: 4px  white;
  background-color: rgba(199, 194, 194, 0.5);
}

html, body, #root { height: 100%; }
