@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}
h1{
  text-align: center;
}


html, body, #root { height: 100%; }

.Titulo {
  font-family: 'Rye', cursive;
  margin-top: 2.7rem;
  color: #fafafa;
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.993);
}
.categorias {
  font-family: 'Rye', cursive;
  color: #000000;
  text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.993);
}