@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}


html, body, #root { height: 100%; }
